
.panel {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    position: relative;
    top: 15%;
}

.greeting-panel {
    margin-bottom: 38px ;
    text-align: left;
}

.sign-up-link {
    margin: 22px;
    text-align: center;
}
.copyright {
    text-align: center;
    margin-top:60%;
}